body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar {
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f ;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.imagenes{
    display: grid;
    width: 100vW;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 15px;
    gap: 0;
    grid-template-areas: 
    "f5 f6 f7 "
    ;
}
.foto5 {  grid-area: f5; }
.foto6 {  grid-area: f6; }
.foto7 {  grid-area: f7; }
.foto8 {  grid-area: f8; }
.foto9 {  grid-area: f9; }
.foto10{  grid-area: f10; }
.foto11{  grid-area: f11; }
.Video1{  grid-area: v1; }
.Video2{  grid-area: v2; }
.Video3{  grid-area: v3; }
.Video4{  grid-area: v4; }


.foto5 img, .foto6 img, .foto7 img, .foto8 img, .foto9 img, .foto10 img, .foto11 img,
.Video1 iframe, .Video2 iframe, .Video3 iframe, .Video4 iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    color: white;
}
